body {
    font-family: 'Lato', sans-serif;
    background: #ededed;
    overflow-x: hidden;
    a {
        color: #808080;
        &:hover {
            color: #303030;
        }
    }
    .wrap {
        margin-top: 100px;
        overflow-x: hidden;
        @media (max-width: $screen-md-min) {
            margin-top: 0;
        }
        main.main {
            width: 100%;
            padding: 0;
            background: #ededed;
        }
    }
    main.main {
        padding: 0;
    }
}