footer.content-info {
    height: 30px;
    background: #000;
    margin-bottom: 40px;
    @media (max-width: $screen-md-min) {
        margin-bottom: 50px;
        height: auto;
        padding: 15px;
    }
    p {
        font-size: 11px;
        margin-bottom: 0;
        line-height: 30px;
        color: #fff;
        text-align: center;
        @media (max-width: $screen-md-min) {
            line-height: 16px;
        }
        a {
            color: #aaa;
        }
    }
}

.postFooter {
    border-top: 1px solid #f5f5f5;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #fff;
    z-index: 3;
    .social {
        text-align: center;
        height: 30px;
        a {
            color: #000;
        }
        p {
            display: block;
            float: left;
            margin: 8px;
            font-size: 22px;
            line-height: 27px;
        }
        @media (max-width: $screen-md-min) {
            display: none;
        }
    }
    .logo {
        text-align: center;
        padding: 5px 0;
        img.ws {
            height: 30px;
            width: auto;
            @media (max-width: $screen-md-min) {
                height: 20px;
            }
        }
    }
    .copyright {
        text-align: right;
        text-transform: uppercase;
        p {
            margin: 0;
            line-height: 40px;
            font-size: 12px;
            @media (max-width: $screen-md-min) {
                line-height: 20px;
                font-size: 10px;
                text-align: center;
            }
        }
    }
}