header.banner {
    height: 100px;
    background: #fff;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    transition: $trans;
    -webkit-transition: $trans;
    -moz-transition: $trans;
    &.active {
        height: 70px;
        opacity: 0.95;
        -webkit-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
        nav {
            right: 0;
        }
        .logo {
            display: block;
            top: -300px;
            left: calc(50% - 75px);
            @media (max-width: $screen-md-min) {
                left: -300px;
                top: 0;
            }
            img {
                height: 70px;
                transition: $trans;
                -webkit-transition: $trans;
                -moz-transition: $trans;
            }
        }
        .tobeactivated {
            left: -5px;
            position: absolute;
            max-width: 150px;
        }
    }
    nav {
        position: absolute;
        top: 0;
        right: -100%;
        transition: $trans;
        -webkit-transition: $trans;
        -moz-transition: $trans;
        padding: 15px 0;
        .menu-menu-container {
            float: left;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            @media (max-width: $screen-md-min) {
                display: none;
            }
            ul {
                margin-top: -3px;
            }
            li {
                display: inline-block;
                font-size: 16px;
                line-height: 24px;
                text-transform: uppercase;
                font-weight: 900;
                @media (max-width: $screen-md-min) {
                    display: block;
                    text-align: center;
                    z-index: 4;
                }
                a {
                    color: #aaa;
                }
            }
        }
        .socialNetwork {
            float: left;
            padding: 0;
            padding-left: 15px;
            margin: 0;
            margin-top: 9px;
            margin-right: 10px;
            @media (max-width: $screen-md-min) {
                display: none;
            }
            a {
                transform: $trans;
                -webkit-transform: $trans;
                -moz-transform: $trans;
                &:hover {
                    span {
                        background: transparent;
                        color: #fff;
                        background: #333;
                        border-radius: 22px;
                    }
                }
            }
            span {
                transform: $trans;
                -webkit-transform: $trans;
                -moz-transform: $trans;
                line-height: 22px;
                background: #fff;
                width: 22px;
                text-align: center;
                font-size: 15px;
                margin-right: 3px;
                color: #333;
            }
            li {
                display: inline-block;
                list-style: none;
            }
        }
        .tit {
            font-weight: 100;
            float: left;
            font-size: 22px;
            margin: 0;
            color: #000;
            line-height: 40px;
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            padding-right: 15px;
            font-weight: 100;
            font-style: italic;
            @media (max-width: $screen-md-min) {
                font-size: 14px;
            }
        }
        @media (max-width: $screen-md-min) {
            position: static;
            .tit {
                position: absolute;
                right: 65px;
            }
        }
    }
    .logo {
        display: block;
        position: absolute;
        left: calc(50% - 75px);
        top: 0;
        transition: $trans;
        -webkit-transition: $trans;
        -moz-transition: $trans;
        img {
            max-width: 150px;
            transition: $trans;
            -webkit-transition: $trans;
            -moz-transition: $trans;
        }
    }
    .tobeactivated {
        left: -200px;
        position: absolute;
        max-width: 150px;
        transition: $trans;
        -webkit-transition: $trans;
        -moz-transition: $trans;
    }
    @media (max-width: $screen-md-min) {
        height: 70px;
        opacity: 0.95;
        position: static;
        .logo {
            display: block;
            left: 0;
            img {
                height: 70px;
                transition: $trans;
                -webkit-transition: $trans;
                -moz-transition: $trans;
            }
        }
    }
    &.downNow {
        height: 100vh;
    }
}

.mob-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    border-top: 1px solid #ddd;
    padding: 30px 0;
    li {
        text-align: center;
        a {
            color: #000;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 24px;
        }
    }
    .socialNetworkMob {
        padding: 0;
        padding-left: 15px;
        margin: 0;
        margin-top: 9px;
        display: list-item;
        text-align: center;
        a {
            transform: $trans;
            -webkit-transform: $trans;
            -moz-transform: $trans;
            &:hover {
                span {
                    background: transparent;
                    color: #000;
                }
            }
        }
        span {
            transform: $trans;
            -webkit-transform: $trans;
            -moz-transform: $trans;
            line-height: 30px;
            background: #333;
            width: 30px;
            text-align: center;
            border-radius: 30px;
            font-size: 18px;
            margin-right: 10px;
            color: #fff;
        }
        li {
            display: inline-block;
            list-style: none;
        }
    }
}

.button_container {
    height: 15px;
    width: 25px;
    z-index: 100;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
    display: inline-block;
    span {
        background: #555;
        border: none;
        height: 2px;
        width: 25px;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all .35s ease;
        transition: all .35s ease;
        cursor: pointer;
        &:nth-of-type(2) {
            top: 8px;
            background: #555;
        }
        &.bottom {
            top: 16px;
            background: #555;
            width: 25px;
        }
    }
}

.menu_btn {
    float: left;
    padding: 10px 30px;
    line-height: 56px;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    position: absolute;
    top: 27px;
    right: 15px;
    height: 25px;
    width: 25px;
    @media (max-width: $screen-md-min) {
        padding: 10px 15px;
    }
    a {}
    p {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        display: inline-block;
        color: #fff;
        transition: $trans;
        -webkit-transition: $trans;
        -moz-transition: $trans;
    }
    a {
        text-decoration: none;
        transition: $trans;
        -webkit-transition: $trans;
        -moz-transition: $trans;
    }
    &.clicked {
        padding: 10px 15px;
        @media (max-width: $screen-md-min) {
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            right: 22px;
            top: 24px;
        }
        p {
            opacity: 0;
        }
        .button_container {
            span {
                &.top {
                    -ms-transform: rotate(45deg) translateY(-15px) translateX(15px);
                    -webkit-transform: rotate(45deg) translateY(-15px) translateX(15px);
                    transform: rotate(45deg) translateY(-15px) translateX(15px);
                    top: 2px;
                    width: 15px;
                    background: #e7e7e7;
                    height: 3px;
                }
                &.middle {
                    opacity: 1;
                    background: #e7e7e7;
                    transform: translateY(-2px) translateX(-7px);
                    height: 4px;
                    width: 40px;
                }
                &.bottom {
                    -ms-transform: rotate(-45deg) translateY(15px) translateX(15px);
                    -webkit-transform: rotate(-45deg) translateY(15px) translateX(15px);
                    transform: rotate(-45deg) translateY(15px) translateX(15px);
                    top: 11px;
                    height: 3px;
                    width: 15px;
                    background: #e7e7e7;
                }
            }
        }
    }
}