body.home {
    overflow-x: hidden;
    &.ovFl {
        section.splash {
            top: 0;
        }
    }
}
section {
    &.activities {
        margin-top: 80px;
        @media (max-width: $screen-md-min) {
            margin-top: 0px;
        }
    }
    .sottHeader {
        p {
            font-size: 18px;
            padding: 15px;
            text-align: center;
            margin-top: -30px;
            margin-bottom: 40px;
            font-weight: 900;
        }
    }
    &.contacts {
        .cont {
            p {
                text-align: center;
                font-size: 16px;
                padding: 15px 0;
            }
            a {
                text-decoration: none;
            }
            button {
                display: block;
                margin: 30px auto 60px auto;
                padding: 10px 20px;
                background: #000;
                color: #fff;
                font-size: 26px;
                font-weight: 100;
                border: none;
                transition: $trans;
                -webkit-transition: $trans;
                -moz-transition: $trans;
                &:hover {
                    background: #fff;
                    color: #000;
                }
            }
        }
    }
    .cont {
        .singleLink,
        .singleTeam {
            height: 200px;
            position: relative;
            &:hover {
                .imgBg {
                    opacity: 0.3;
                }
                .colorBg {
                    background: #fff;
                }
                .move {
                    -ms-transform: translate(10px, 10px);
                    -webkit-transform: translate(10px, 10px);
                    transform: translate(10px, 10px);
                }
                h3 {
                    color: #000;
                    span {
                        color: #000;
                    }
                }
            }
            .colorBg {
                position: absolute;
                width: calc(100% - 30px);
                height: calc(100% - 30px);
                top: 15px;
                left: 15px;
                transition: $trans;
                -webkit-transition: $trans;
                -moz-transition: $trans;
                background: #000;
            }
            .imgBgCont {
                position: relative;
                img {
                    width: 100%;
                    border-radius: 100%;
                    @media (max-width: $screen-md-min) {
                        margin-bottom: 30px;
                        width: 50%;
                        margin-left: 25%;
                        margin-right: 25%;
                    }
                }
            }
            .imgBg {
                position: absolute;
                width: calc(100% - 30px);
                height: calc(100% - 30px);
                top: 15px;
                left: 15px;
                transition: $trans;
                -webkit-transition: $trans;
                -moz-transition: $trans;
            }
            h3 {
                position: relative;
                color: #fff;
                font-weight: 900;
                text-align: center;
                margin-bottom: 0;
                padding: 0 30px;
                transition: $trans;
                -webkit-transition: $trans;
                -moz-transition: $trans;
                margin-top: 5px;
                @media (max-width: $screen-md-min) {
                    font-size: 16px;
                }
                span {
                    color: #fff;
                    font-weight: 300;
                    font-style: italic;
                    font-size: 13px;
                    display: block;
                    transition: $trans;
                    -webkit-transition: $trans;
                    -moz-transition: $trans;
                    @media (max-width: $screen-md-min) {
                        font-size: 11px;
                    }
                }
            }
        }
        .singleTeam {
            height: auto;
            margin-bottom: 30px;
            h3 {
                margin-top: 15px;
                text-align: left;
                font-size: 34px;
                padding: 0;
                color: #000;
                margin-top: 0;
                @media (max-width: $screen-md-min) {
                    text-align: center;
                    font-size: 24px;
                }
                span {
                    color: #888;
                    font-size: 24px;
                    font-style: italic;
                    font-weight: 300;
                    margin-bottom: 15px;
                    @media (max-width: $screen-md-min) {
                        text-align: center;
                        font-size: 16px;
                    }
                }
            }
            p {
                font-size: 16px;
                padding-bottom: 30px;
                margin-bottom: 0;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                padding-top: 10px;
                margin-top: -5px;
                @media (max-width: $screen-md-min) {
                    text-align: center;
                }
            }
        }
        .bloccoBTN {
            margin-bottom: 60px;
        }
        .singleBloccoBTN {
            a {
                display: block;
                padding: 10px 15px;
                text-align: center;
                background: #000;
                color: #fff;
                transition: $trans;
                -webkit-transition: $trans;
                -moz-transition: $trans;
                position: absolute;
                width: calc(100% - 30px);
                bottom: 0;
                &:hover {
                    text-decoration: none;
                    background: #fff;
                    color: #000;
                }
                @media (max-width: $screen-md-min) {
                    position: static;
                    width: 100%;
                }
            }
        }
        .singleBlocco {
            padding: 0 15px;
            padding-bottom: 15px;
            margin-bottom: 15px;
            @media (max-width: $screen-md-min) {
                padding-bottom: 45px;
                margin-bottom: 30px;
            }
            .posizionato {
                position: absolute;
                left: 15px;
            }
            img {
                width: 100%;
            }
            h3 {
                margin: 0;
                padding: 10px;
                font-weight: 900;
                background: rgba(255, 255, 255, 0.95);
                display: block;
                text-transform: uppercase;
                font-size: 16px;
                margin-left: 15px;
                margin-top: -15px
            }
            p {
                font-size: 16px;
                margin-top: 30px;
            }
            a {
                display: block;
                padding: 10px 15px;
                text-align: center;
                background: #000;
                color: #fff;
                transition: $trans;
                -webkit-transition: $trans;
                -moz-transition: $trans;
                position: absolute;
                width: calc(100% - 30px);
                bottom: 0;
                &:hover {
                    text-decoration: none;
                    background: #fff;
                    color: #000;
                }
                @media (max-width: $screen-md-min) {
                    position: static;
                    width: 100%;
                }
            }
        }
    }
    header {
        background: rgba(0, 0, 0, 0.05);
        padding: 30px 0;
        margin-bottom: 60px;
        .pstyle {
            border-left: 2px solid #fff;
            @media (max-width: $screen-md-min) {
                border-left: none;
            }
        }
        .pstyle,
        .hstyle {
            position: relative;
            height: 50px;
            @media (max-width: $screen-md-min) {
                height: auto;
            }
            &.cent h2 {
                text-align: center;
            }
        }
        h2 {
            font-size: 73px;
            font-weight: 700;
            letter-spacing: -4px;
            margin: 0;
            line-height: 44px;
            text-align: right;
            padding: 0;
            margin-right: 15px;
            @media (max-width: $screen-md-min) {
                text-align: center;
                margin-bottom: 15px;
                font-size: 43px;
            }
        }
        p {
            position: absolute;
            bottom: 5px;
            left: 15px;
            padding-right: 30px;
            font-size: 16px;
            font-style: italic;
            font-weight: 300;
            margin: 0;
            line-height: 21px;
            margin-left: 10px;
            color: #777;
            @media (max-width: $screen-md-min) {
                position: static;
                height: auto;
                text-align: center;
                padding-right: 15px;
            }
        }
    }
}

.barra {
    width: 100%;
    height: 10px;
    background: #fff;
    margin-bottom: 50px;
    margin-top: 10px;
}