body.page-template-template-experience {
    #experience {
        margin-bottom: 60px;
        header {
            margin-bottom: 15px;
        }
    }
    .contenuto {
        padding: 30px 0;
        text-align: right;
        @media (max-width: $screen-md-min) {
            padding: 30px 15px;
            text-align: center;
        }
        &.no-sidebar {
            ul,
            ol {
                &.ul-sx {}
                &.ul-dx {}
                &.ul-cx {
                    padding: 0;
                    li {
                        list-style: none;
                        margin: 15px 0;
                    }
                }
            }
        }
        &.yes-sidebar {
            ul,
            ol {
                padding-left: 0;
                padding: 10px 20px 10px 0;
                li {
                    text-align: right;
                    list-style: none;
                    &:after {
                        content: "\f111";
                        font-family: FontAwesome;
                        font-style: normal;
                        position: absolute;
                        right: 0px;
                        font-size: 8px;
                    }
                }
            }
        }
        h2 {
            font-weight: 900;
            margin-top: 0;
            @media (max-width: $screen-md-min) {
                font-size: 20px;
            }
        }
        p {
            font-size: 18px;
            @media (max-width: $screen-md-min) {
                font-size: 16px;
            }
        }
        img {
            &.size-large {
                width: calc(100%);
            }
        }
        ul,
        ol {
            margin: 30px 0;
            li {
                font-size: 16px;
                line-height: 20px;
                color: #666;
                margin-bottom: 6px;
                font-style: italic;
            }
        }
    }
    aside {
        margin-top: 10px;
        padding: 30px 0 30px 30px;
        width: 41.6666%;
        @media (max-width: $screen-md-min) {
            width: 100%;
            padding: 0 15px 30px 15px;
        }
        .video {
            margin-bottom: 30px;
        }
        .grid {
            margin-bottom: 30px;
            margin-left: -15px;
            margin-right: -15px;
        }
        iframe {
            width: 100%;
        }
        .credits {
            padding: 0;
            text-align: left;
            font-size: 13px;
            @media (max-width: $screen-md-min) {
                text-align: center;
            }
        }
    }
    .credits {
        padding: 30px 0;
        text-align: center;
        color: #777;
        p {
            margin: -10px;
        }
    }
}