.slider {
    padding: 0;
    background: #ededed;
    position: relative;
    .grad {
        z-index: 2;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0.65) 100%);
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0.65) 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 49%, rgba(0, 0, 0, 0.65) 100%);
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .titoli {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        width: 100%;
        .titolo {
            background: #000;
            text-align: right;
            color: #fff;
            padding: 15px 30px;
            h1 {
                margin: 0;
                margin-top: 10px;
                font-weight: 900;
            }
            h4 {
                margin-top: 0px;
                font-style: italic;
                font-size: 22px;
                font-weight: 100;
            }
        }
        .sottotitolo {
            background: #fff;
            color: #000;
            bottom: 0;
            position: absolute;
            right: 0;
            padding: 10px 15px;
            p {
                margin: 0;
                font-size: 18px;
                font-weight: 100;
                max-width: 400px;
            }
        }
    }
    .dida {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.60);
        margin-bottom: 0;
        line-height: 30px;
        color: #fff;
        padding-left: 15px;
        font-size: 13px;
        @media (max-width: $screen-md-min) {
            display: none;
        }
    }
    .owl-nav {
        color: #fff;
        height: 30px;
        position: absolute;
        top: 0;
        right: 0;
        &>div {
            display: inline-block;
            margin: 7px 11px;
        }
    }
    .owl-dots {
        position: absolute;
        top: 0;
        right: 65px;
        padding-right: 15px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        height: 30px;
        .owl-dot {
            width: 12px;
            height: 12px;
            border-radius: 12px;
            background: #fff;
            display: inline-block;
            margin: 10px 3px;
            &.active {
                background: transparent;
                border: 2px solid #fff;
            }
        }
    }
    .owl-stage-outer {
        overflow: visible;
    }
    li {
        list-style: none;
        position: relative;
        .testi {
            position: absolute;
            width: 40%;
            @media (max-width: $screen-md-min) {
                width: 100%;
                position: static;
            }
            &.hBlack {
                h1 {
                    color: #000;
                }
            }
            &.hWhite {
                h1 {
                    color: #fff;
                    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
                    @media (max-width: $screen-md-min) {
                        text-shadow: none;
                        color: #000;
                    }
                }
            }
            &.BsuN {
                p {
                    background: rgba(0, 0, 0, .9);
                    color: #fff;
                    display: inline-block;
                    @media (max-width: $screen-md-min) {
                        display: block;
                    }
                }
            }
            &.NsuB {
                p {
                    background: rgba(255, 255, 255, .9);
                    color: #000;
                    display: inline-block;
                    @media (max-width: $screen-md-min) {
                        display: block;
                    }
                }
            }
            &.Xdx {
                right: 30px;
            }
            &.Xcx {
                left: 30%;
            }
            &.Xsx {
                left: 30px;
            }
            &.Ycx {
                top: 30%;
            }
            &.Yup {
                top: 30px;
            }
            &.Ydn {
                bottom: 30px;
            }
            &.centro {
                p {
                    display: block;
                }
            }
            &.sinistra {
                h1,
                p {
                    text-align: left;
                    float: left;
                    @media (max-width: $screen-md-min) {
                        text-align: center;
                        float: none;
                    }
                }
            }
            &.destra {
                h1,
                p {
                    text-align: right;
                    float: right;
                    @media (max-width: $screen-md-min) {
                        text-align: center;
                        float: none;
                    }
                }
            }
            h1 {
                text-align: center;
                font-weight: 900;
                color: #fff;
                text-transform: uppercase;
                @media (max-width: $screen-md-min) {
                    font-size: 24px;
                    text-shadow: none;
                    color: #000;
                    margin-top: 10px;
                }
            }
            p {
                font-size: 22px;
                color: #fff;
                font-weight: 100;
                text-align: center;
                padding: 10px 20px;
                margin-bottom: 0;
                background: rgba(0, 0, 0, 0.90);
                line-height: 24px;
                @media (max-width: $screen-md-min) {
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
    }
}

.mobTit {
    margin-top: -10px;
    .titoli {
        z-index: 3;
        width: 100%;
        .titolo {
            background: #000;
            text-align: center;
            color: #fff;
            padding: 15px;
            font-size: 24px;
            h1 {
                margin: 0;
                margin-top: 10px;
                font-weight: 900;
                font-size: 24px;
                margin-top: 0;
            }
            h4 {
                margin-top: 0px;
                font-style: italic;
                font-size: 22px;
                font-weight: 100;
            }
        }
        .sottotitolo {
            background: #fff;
            color: #000;
            padding: 10px 15px;
            text-align: center;
            p {
                margin: 0;
                font-size: 18px;
                font-weight: 100;
            }
        }
    }
}