.curtain {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 5;
}
section.splash {
    position: fixed;
    top:-200vh;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: $trans;
    -webkit-transition: $trans;
    -moz-transition: $trans;
    @media (max-width: $screen-md-min) {
        height: calc(100% - 50px);
    }
    .singSp {
        position: relative;
        height: 100vh; 
        padding-top: 100px;
        padding-bottom: 40px;
        @media (max-width: $screen-md-min) {
            height: calc(50vh - 25px); 
        }
        &.singSp_dx {
            .txt {
                h1 {
                    border-left: 4px solid #fff;
                    width: calc(100% + 2px);
                    margin-left: -2px;
                    @media (max-width: $screen-md-min) {
                        border:none;
                        width: 100%;
                    }
                }
            }
        }
        .white_bg {
            background: rgba(255, 255, 255, 0.4);
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            @media (max-width: $screen-md-min) {
                background: rgba(0, 0, 0, 0.5);
            }
        }
        .txt {
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            top:100px;
            left:0;
            width: 100%;
            height: auto;
            padding:50px 0;
            cursor: pointer;
            transition: background 0.3s ease;
            -webkit-transition: background 0.3s ease;
            -moz-transition: background 0.3s ease;
            @media (max-width: $screen-md-min) {
                padding:20px 0;
                margin-top: 25px;
                background: transparent;
            }
            &:hover {
                background: rgba(0, 0, 0, 0.7);
            }
            h1 {
                color: #fff;
                text-align: center;
                width: 100%;
                font-size: 50px;
                @media (max-width: $screen-md-min) {
                    font-size: 40px;
                }
            }
        }
    }
}